*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background:linear-gradient(to right, #2F2325,#8E5D52);
    font-size: 100%;
}
.cabeçario_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 28px;
}
