*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background:linear-gradient(to right, #2F2325,#8E5D52);
    font-size: 100%;
}
.cabeçario_principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.cabeçario_imagem{
    width: 62px;
}
.cabeçario_link{
    text-decoration: overline;
    justify-content: center;
    font-family: 'Sarala', sem serifa;
    font-size: 18px;
    color: #FFF2E7;
}
.body-principal{
    display: flex;
}
.section1{
    border-top: 0.4px solid #FFF2E7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.texts_section1{
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.h1_section1{
   color: #FFF2E7;
   font-family: 'Sarala', sem serifa;
   font-size: 64px;
}
.p_section1{
    font-family: 'Sarala', sem serifa;
    font-size: 24px;
    color: #ECD6C4;    
}
.imagem_section1{
    width: 394.13px;
    
}
.section2{
    display: flex;
    font-family:'Sarala', sem serifa;
    flex-direction: column;
    align-items: center;
}
.h3_section2{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 20px;
    height: 400;
    font-size: 24px;
    color: #FFF2E7;
    font-family: 'Sarala', sem serifa;
}
.texts_section2{
    word-spacing: 2px;
    justify-content: space-around;
    font-family: 'Sarala', sem serifa;
    color: #ECD6C4;
    font-size: 18px;
    padding-bottom: 20px;
}
.rodape{
    border-top: 0.4px solid #FFF2E7; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem_footer{
    padding-top: 10px;
}
